.light {
  background-color: white;
}

.error-container {
  min-height: 100vh;
}

.transparent-link {
  background-color: transparent;
}

.transparent-link.light {
  color: white;
}

.transparent-link.dark {
  color: black;
}
