.search_button:disabled,
.search_button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.button_dark:disabled,
.button_dark[disabled] {
  border: 1px solid #ffebeb;
  background-color: #ffbbbb;
  color: #474747;
}
