.form-uncontrolled-mock {
  display: flex;
  flex-direction: column;
  width: 340px;
  border: 1px solid rgb(0, 0, 0);
  gap: 10px;
  margin: 10px 0;
  padding: 5px;
}

.form-uncontrolled {
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border: 1px solid rgb(0, 0, 0);
}
.form-uncontrolled > div {
  padding: 5px 5px 0 5px;
  align-items: center;
}

.error-wrapper {
  font-size: small;
  color: red;
  position: absolute;
  top: 27px;
  left: 5px;
}

.input-label-wrapper-uc {
  position: relative;
}

.label-wrapper-uc {
  position: relative;
}

.label-wrapper-uc label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.submittedImage {
  width: 250px;
  height: 250px;
  background-size: contain;
  background-repeat: no-repeat;
}

.repeat-password-wrapper {
  margin-top: 15px;
}

.gender-label-wrapper {
  display: flex;
  flex-direction: column;
}

.gender-select-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.sex-radio {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 55%;
  justify-content: space-between;
  gap: 10px;
}

.sex-radio label input {
  margin: auto;
}

.sex-radio label {
  align-items: center;
  gap: 5px;
}

.terms-wrapper-uc {
  justify-content: flex-start !important;
}

.fake-wrapper-country {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 17px;
  padding: 1px 2px;
  margin: 2px;
  width: 250px;
}

.country-input-uncontrolled {
  padding-left: 5px;
  border: 0;
  width: 90%;
}

.label-wrapper-coountry-uc {
  align-items: center;
}

.countries-suggestions-uncontrolled {
  border: 1px solid black;
  max-height: 180px;
  width: 250px;
  overflow-y: scroll;
  margin: 4px 0 10px 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 10;
  background-color: black;
  color: white;
  top: 30px;
  left: 85px;
}

.form-submit-uc {
  margin: 5px 0 5px;
}

.image-label-wrapper-uc {
  display: flex;
  flex-direction: column !important;
  gap: 5px;
}

.error-wrapper-image-uc {
  top: 50px;
}

.suggestion-button-uc {
  width: 17px;
  height: 17px;
}

.password-strength-uc {
  width: 45px;
  display: flex;
  flex-direction: row;
  height: 19px;
}

.password-strength-uc div {
  width: 25%;
  height: 100%;
  border: 1px solid black;
  border-right: none;
}

.background-strength-uc {
  background-color: green;
}

.background-strength-last-uc {
  border-right: 1px solid black !important;
}

.checkbox-password-wrapper-uc {
  margin-top: 2px;
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}

.checkbox-password-wrapper-uc div {
  min-width: 50%;
}

.errors-password-uc {
  top: 70px;
}
