h3 {
  text-align: center;
}

.results-wrapper-outer {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
}

.results-wrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 10px;
}

.results-wrapper-uncontrolled {
  border-right: 1px solid saddlebrown;
}

.navigation {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  gap: 5px;
}

a {
  color: black;
  text-decoration: none;
}

a:active {
  color: rgb(4, 0, 255);
  text-decoration: none;
}

.navigation a:hover {
  cursor: pointer;
}

.lastElement {
  background-color: rgb(229, 255, 0);
  animation: backgroundAnimation 5s forwards;
}

.firstElement {
  margin-bottom: 5px !important;
}

@keyframes backgroundAnimation {
  0% {
    background-color: rgb(229, 255, 0);
  }

  100% {
    background-color: transparent;
  }
}

.data-wrapper {
  margin: 0 5px;
  border: 1px solid rgb(0, 27, 148);
}

.data-wrapper div {
  padding: 3px 5px;
}
